body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a252f;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    font-family: Arial, sans-serif;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #0b0214;
    background-image: 
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 20px);
    background-size: 550px 550px, 350px 350px, 250px 250px;
    background-position: 0 0, 40px 60px, 130px 270px;
}

#bird {
    position: absolute;
    left: 50px;
    top: 50%;
    width: 44px;
    height: 44px;
    z-index: 10;
    will-change: transform, top;
}

#bird img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.pipe {
    position: absolute;
    width: 80px;
    box-sizing: border-box;
    border-left: 8px solid #3d2b1f;
    border-right: 8px solid #3d2b1f;
    
    background: 
        linear-gradient(to bottom, #1a110a 20%, transparent 20%, transparent 90%, #1a110a 90%),
        
        repeating-linear-gradient(to right,
            #7f1d1d 0px, #7f1d1d 15px,
            #2a1b18 15px, #2a1b18 17px,
            #1e3a8a 17px, #1e3a8a 30px,
            #2a1b18 30px, #2a1b18 32px,
            #14532d 32px, #14532d 50px,
            #2a1b18 50px, #2a1b18 52px,
            #a16207 52px, #a16207 65px,
            #2a1b18 65px, #2a1b18 67px 
        ),
        
        #4e342e;
    background-size: 100% 80px, 67px 80px, 100% 100%;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.7);
}
.pipe.top::after, .pipe.bottom::after {
    content: '';
    position: absolute;
    left: -10px;
    width: calc(100% + 20px);
    height: 16px;
    background: #3d2b1f;
    border: 2px solid #2a1b18;
    border-radius: 2px;
    z-index: 5;
}

.pipe.top {
    top: 0;
    border-bottom: 2px solid #2a1b18;
}

.pipe.top::after {
    bottom: -8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.pipe.bottom {
    bottom: 0;
    border-top: 2px solid #2a1b18;
}

.pipe.bottom::after {
    top: -8px;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.5);
}

#score {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: white;
    font-weight: 800;
    text-shadow: 3px 3px 0 #000;
    z-index: 20;
    pointer-events: none;
    opacity: 0.8;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
    z-index: 30;
    pointer-events: none;
    text-align: center;
    white-space: pre-wrap;
    background: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
}





