* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #2c3e50;
    touch-action: none; 
    user-select: none;
}

.bird {
    height: 50px;
    width: 70px;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
    object-fit: contain; 
}

.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 100px;
    background-image: url('pipe.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
}

.pipe_inv {
    transform: rotate(180deg);
}

.message {
    position: fixed;
    z-index: 10;
    font-size: 5vh;
    font-family: 'Arial', sans-serif;
    color: white;
    top: 20vh;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    pointer-events: none;
}

.score {
    position: fixed;
    z-index: 10;
    font-size: 6vh;
    color: #f1c40f;
    top: 5vh;
    left: 5vw;
    font-family: sans-serif;
    text-shadow: 2px 2px #000;
}

@media only screen and (max-width: 768px) {
    .bird {
        height: 60px;
        width: 80px;
        left: 20vw;
    }
    .pipe_sprite {
        width: 80px; 
    }
    
    .message {
        font-size: 4vh;
    }
}
