* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #2c3e50; /* Darker background to make the bookshelf pop */
}

.bird {
    height: 50px;
    width: 70px;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
    object-fit: contain; 
}

.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 160px;
    background-image: url('pipe.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
}

.pipe_inv {
    transform: rotate(180deg);
}

.message {
    position: fixed;
    z-index: 10;
    font-size: 5vh;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    top: 15vh;
    width: 100vw;
    text-align: center;
}

.score {
    position: fixed;
    z-index: 10;
    font-size: 6vh;
    color: #f1c40f;
    top: 2vh;
    left: 2vw;
    font-family: sans-serif;
    text-shadow: 2px 2px #000;
}