
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.quadrant-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px; 
    background-color: white; 
    border-radius: 50%;
    border: 4px solid #333;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 10; /* Keeps it above the quadrants */
}

.center-circle img {
    width: 100%;
    height: 100%;
}

.quadrant {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-decoration: none;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
}


.quadrant:nth-child(1) { background-color: #1f5a48; }
.quadrant:nth-child(2) { background-color: #c91016; }
.quadrant:nth-child(3) { background-color: #321066; }
.quadrant:nth-child(4) { background-color: #08355c; }

.quadrant img {
    max-width: 50%;
    height: auto;
    display: block;
}


.quadrant:active {
    background-color: #adb5bd;
}
